"To simlink, use full paths ln -s originalfile targetDir
" to get the original path call readlink thisFile
" To add plugins, add the plugin to ~/.vim/

source ~/.vimrc

set ideajoin " enable join via the IDE
set ideaput " clipboard
set ideamarks " sync bookmarks with idea
set idearefactormode=keep

nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>bd :action CloseEditor<CR>

nmap <leader>] :action  GotoImplementation<CR>
nmap <leader>[ :action  GotoSuperMethod<CR>

" Extensions
set NERDTree
set surround
set highlightedyank


CocDisable

" :actionlist for all commands

" KEYMAP

" Menus
nnoremap <leader>m :action ActivateProjectToolWindow<CR>

" Refactorings
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rf :action RenameFile<CR>
nnoremap <leader>ri :action Inline<CR>
nnoremap <leader>rv :action IntroduceVariable<CR>
nnoremap <leader>rm :action ExtractMethod<CR>
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>

vmap <leader>rp :action IntroduceParameter<CR>
vmap <leader>rn :action RenameElement<CR>
vmap <leader>rf :action RenameFile<CR>
vmap <leader>ri :action Inline<CR>
vmap <leader>rv :action IntroduceVariable<CR>
vmap <leader>rm :action ExtractMethod<CR>
vmap <leader>rr :action Refactorings.QuickListPopupAction<CR>

nnoremap <leader>rp :action IntroduceParameter<CR>
"nnoremap <leader>im :action ImplementMethods<CR>
"nnoremap <leader>om :action OverrideMethods<CR>
"nnoremap <leader>qf :action ShowIntentionActions<CR>

" GoTo
nnoremap gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>sd :action QuickImplementations<CR>
nnoremap <leader>gc :action VcsShowNextChangeMarker<cr>
nnoremap <leader>gC :action VcsShowPrevChangeMarker<cr>
nnoremap <leader>gu :action FindUsages<CR>
" nnoremap <leader>gs :action ActivateStructureToolWindow<CR>

" Test and Run
nnoremap <leader>tt :action RunClass<CR>
nnoremap <leader>tf :action RerunFailedTests<CR>

" Jumping
" built-in navigation to navigated items works better
"nnoremap <c-o> :action Back<cr>
"nnoremap <c-i> :action Forward<cr>

" Errors
nnoremap <leader>en :action GotoNextError<cr>
nnoremap <leader>eN :action GotoPreviousError<cr>
nnoremap <leader>es :action ShowErrorDescription<cr>

